<input id="$id" type="text" name="$name" value="$!{value}"
	#if($cssClass!="") class="$cssClass"#end
	#if($canEdit=="false") readonly="readonly"#end 
	#if($size!="") size="$size"#end
	#foreach($comPro in $context.entrySet()) ${comPro.key}="${comPro.value}"#end/>
#if($canNull=="false")<font color="red">*</font>#end 