<input id="$id" type="button" value="${label}"
	#if($cssClass!="") class="$cssClass"#end
	#if($link!="") onclick="location.href='$link'"#end
	#foreach($comPro in $context.entrySet()) ${comPro.key}="${comPro.value}"#end/>