<input type='radio' id="$id" #if($cssClass!="") class="$cssClass"#end name='$name' value='$!value'#if($cssClass!="") class="$cssClass"#end#foreach($comPro in $context.entrySet()) ${comPro.key}="${comPro.value}"#end>$!{label}