{
    chart: {
        type: 'column'
    },
    yAxis: {
        title: {
            text: ''
        },
        labels: {
                format: '{value}'
            }
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    }
}