.musRight input { vertical-align:middle; margin-right:2px; }
.musRight label { display:block; line-height:24px; }
.musLeft input { vertical-align:middle; margin-right:5px; }
.mustitle { padding:5px 10px 5px 5px; background-color:#EFEFEF; border-bottom:1px solid #CCC; color:#0C5DAC; }
.muscontent { border-bottom:1px solid #CCC; padding:5px; overflow:hidden; zoom:1; }
.muscontent label {/*overflow: hidden;text-overflow: ellipsis;white-space:nowrap;*/ width:32%; float:left; display:block; line-height:24px; margin-right:1%; }
.tempbox { position:absolute; left:0; top:0; z-index:3; width:auto; display:block; background-color:#FFF; padding:5px; }
.tempboxbg { position:absolute; left:0; top:0; z-index:2; width:100%; display:block; background-color:#FFF; opacity:0.7; _filter:alpha(opacity=70) }
.musLeft, .musRight { height:400px; width:99.5%; overflow: auto; overflow-x: hidden; border: 1px #cccccc solid; }
